body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 120%;
}

header {
  padding: 20px;
}

.logo {
  max-height: 80px;
}

.navbar {
  justify-content: space-between;
  text-align: right;
  background-color: white;
}

#navbarSupportedContent {
  flex-grow: 0;
}

#navbar > a {
  text-align: right;
  float: right;
}

.banner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*main*/
main {
  padding: 0 !important;
}
.main-row {
  margin: 0px;
  background-color: #92c14a;
  color: white;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.titulo > h1 {
  font-size: 200%;
}

.text-container {
  position: relative;
  color: white;
  text-align: center;
  height: 400px;
  overflow: hidden;
}

#whatsapp {
  text-align: center;
}

#whatsapp > a > button {
  padding: 20px;
  background-color: #92c14a;
  color: white;
  border-width: 0;
}

/*footer*/
#footer-copyright {
  text-align: center;
  padding: 30px;
}
#footer-main {
  padding: 30px 20px;
  background-color: #92c14a;
  color: white !important;
}

.redes-sociais {
  padding: 15px 0;
  font-size: 2em;
}

.fa-instagram {
  padding-right: 10px;
}
