body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 120%;
}

header {
  padding: 20px;
  box-shadow: 0px 5px 5px 0px  #ccc !important;
}

.logo {
  max-height: 80px;
}

.navbar {
  justify-content: space-between;
  text-align: right;
  background-color: white;
}

#navbarSupportedContent {
  flex-grow: 0;
}

#navbar > a {
  text-align: right;
  float: right;
}

/*main*/
main {
  padding: 0 !important;
}
.main-row {
  margin: 0px;
  color: white;
  text-shadow: 5px 5px 20px black;
}

.banner {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: brightness(90%);
}  

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  font-size: 150%;
  
}

.titulo > h1 {
  font-size: 200%;
}

.text-container {
  position: relative;
  color: white;
  text-align: center;
  height: 390px;
  overflow: hidden;
}

#whatsapp, #btn-404 {
  padding: 50px 20px;
  text-align: center;
}

#whatsapp button, #btn-404 button {
  padding: 30px 20px;
  background-color: #92c14a;
  color: white;
  border-width: 0;
  transition: transform .3s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: auto;
  font-size: 1.2em;
}

#whatsapp button:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: none;
}

#whatsapp i {
  font-size: 1.4em;

}

.row-cards-home {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 20px; 

}

.cards-home {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color:white;
  padding: 0;
  background: rgb(219, 241, 184);
  background: linear-gradient(170deg, rgb(215, 255, 156) 0%, rgb(128, 172, 62) 80%);
  overflow: hidden;
  
}

.cards-home > div {
  margin: 0px;
  min-height: 250px;
  height: 100%;
  padding: 60px 20px;
  transition: transform .3s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: auto;
  width: 90%;
  
}

.cards-home.img > div:hover {
  transform: scale(1.1);
  z-index: 10;
}

.cards-home img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  min-width: 100%;
}

.cards-home.img > div{
  background: #ccc;
  width: 100%;
}

.instagram-media {
  width: 90% !important;
  margin: 0 auto !important;
  min-width: none !important;
}

.contatos ig {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

/*contatos*/
.contatos {
  padding: 20px;
  margin: 30px auto;
  width: 80%;
}

.contatos h3 {
  margin-bottom: 15px;
  
}

.contatos > div {
  margin-top: 20px;
}

.contatos h3 > span {
  border-bottom: 3px solid #92c14a;
  padding-bottom: 2px;

}

.horarios {
  padding-left: 0px;
}

.horarios > li {
  list-style: none;
}

.contatos .fa-whatsapp {
  color: #92c14a;
  
}

.redes-contatos {
  display: flex;
  align-items: center;
}

.redes-contatos i {
  font-size: 1.5em;
  margin: 5px;
}

hr {
  margin: 30px 0;
}

/*quem somos*/
.quem-somos > div {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.quem-somos p {
  margin: 30px 0px;
}

.quem-somos > .row > div {
  padding: 30px;
}

/*footer*/
#footer-main {
  padding: 30px 20px;
  background-color: #92c14a;
  color: white;
}

.redes-sociais {
  padding: 15px 0;
  font-size: 2em;
}

.fa-footer {
  padding-right: 10px;
  color: white;
}

#footer-copyright {
    text-align: center;
    padding: 30px 20px;
    font-size: 0.9rem;
  }

  @media (max-width: 600px)
  {
    .contatos {
      width: 100%;
    }
  }